{
    email murat.akyuz@sinsoft.com.tr
}

goldgame.sinsoft.com.tr {
    root * /srv
    file_server

    @html {
        path *.html /
    }
    header @html Cache-Control no-cache
}

# Container içi healthcheck bu adrese istek atar
http://localhost {
    respond "OK" 200
}
